		* {
		  box-sizing: border-box;
		  margin: 0;
		  padding: 0;
		  /* Prevent default touch actions like pull-to-refresh */
		  touch-action: none;
		  -webkit-user-select: none;
		  /* Safari */
		  -moz-user-select: none;
		  /* Firefox */
		  -ms-user-select: none;
		  /* IE10+/Edge */
		  user-select: none;
		  /* Standard */
		}

		body {
		  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
		  background-color: #e5e5e5;
		  overflow: hidden;
		  /* Prevent native scroll */
		  width: 100vw;
		  height: 100vh;
		  position: relative;
		  display: grid;
		  place-items: center;
		}

		#viewport,
		#canvas-container,
		#canva_index {
		  width: calc(0.43*3840px);
		  height: auto;
		  display: block;
		  pointer-events: none;
		  z-index: 2;
		  position: relative;
		}

		#startbtn {
		  position: absolute;
		  top: 60%;
		  /* Vertical center */
		  left: 43.5%;
		  /* Horizontal center */
		  width: 328px;
		  /* Button width */
		  height: 143px;
		  /* Button height */
		  background-color: transparent ;
		  /* Green color */
		  display: block;
		  cursor: pointer;
		  text-decoration: none;
		  z-index: 1;
		  pointer-events: all;

		  /* Remove underline */
		}

		#startbtn::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: #E4A900;
			transform: scaleX(0);
			transform-origin: left;
			transition: all .2s;
			border-radius: 5px;

		}
		#startbtn:hover::before {
			transform: scaleX(1);

		}
