		* {
		  box-sizing: border-box;
		  margin: 0;
		  padding: 0;
		  /* Prevent default touch actions like pull-to-refresh */
		  touch-action: none;
		  -webkit-user-select: none;
		  /* Safari */
		  -moz-user-select: none;
		  /* Firefox */
		  -ms-user-select: none;
		  /* IE10+/Edge */
		  user-select: none;
		  /* Standard */
		}

		body {
		  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
		  background-color: #e5e5e5;
		  overflow: hidden;
		  /* Prevent native scroll */
		  width: 100vw;
		  height: 100vh;
		  position: relative;
		  display: grid;
		  place-items: center;
		}

		#viewport,
		#canvas-container,
		#canva_index {
		  width: calc(0.43*3840px);
		  height: auto;
		  display: block;
		  background-color: white;
		}

		#startbtn {
		  position: absolute;
		  top: 60%;
		  /* Vertical center */
		  left: 44%;
		  /* Horizontal center */
		  width: 329px;
		  /* Button width */
		  height: 140px;
		  /* Button height */
		  background-color: #000000e3;
		  /* Green color */
		  display: block;
		  cursor: pointer;
		  text-decoration: none;
		  /* Remove underline */
		}

		#startbtn:hover {
		  background-color: #00000005;
		  /* Slightly darker green */
		}